<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.pogoda.mobile.pogodacc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pogodacc">
        <activity android:name=".activity.StationDetailsWindRoseActivity"></activity>
        <activity android:name=".activity.StationDetailsPlotsWind" />
        <activity android:name=".activity.StationDetailsPlotsDirection" />
        <activity android:name=".activity.StationDetailsPlotsTemperature" />
        <activity android:name=".activity.StationDetailsSummaryActivity" />
        <activity android:name=".activity.StationDetailsActivity" />
        <activity android:name=".activity.AllStationsActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>