<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.pogoda.mobile.meteosystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Main"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meteosystem">
        <service
            android:name=".service.GetAllStationsService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ExportDataActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TrendActivity"
            android:label="@string/title_activity_trend" />
        <activity android:name=".activity.StationDetailsWindRoseActivity" />
        <activity android:name=".activity.StationDetailsPlotsWind" />
        <activity android:name=".activity.StationDetailsPlotsDirection" />
        <activity android:name=".activity.StationDetailsPlotsTemperature" />
        <activity android:name=".activity.StationDetailsPlotsHumidity" />
        <activity android:name=".activity.StationDetailsSummaryActivity" />
        <activity android:name=".activity.StationDetailsActivity" />
        <activity android:name=".activity.AllStationsActivity" />
        <activity android:name=".activity.FavouritesActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>